.header {
  z-index: 100;
  text-align: start;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: pink;
  position: sticky;
  top: 0;
}

.header .header-nav {
  width: 100%;
  height: 60px;
  top: 0;
  transition: all 0.5s;
}
.max-width {
  /* width: 1200px; */
  padding: 0 50px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header-nav .brand {
  height: 60px;
  display: flex;
  transition: 0.5s;
  align-items: center;
}

.logo {
  width: 50px;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 8px;
}
.sticky .brand span {
  color: white !important;
}
.header .header-nav .menu {
  float: right;
}
.chat-notification-wrapper .menu-item,
.header .header-nav .menu-item {
  display: inline-block;
  line-height: 60px;
  margin: 0 8px;
  transition: 0.3s ease-in-out;
}

.header .header-nav .menu-item:nth-child(2){
  margin-right: 20px;
}
.menu .menu-item .menu-item-link {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.5s;
}
/* .active, */
.menu .menu-item .menu-item-link:hover {
  background-color: #fff;
  color: #000;
}
.menu .menu-item .active {
  background-color: #fff;
  color: #000 !important;
}
.checkbtn {
  font-size: 30px;
  margin-left: 10px;
  color: black;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.menu-mobile {
  display: none !important;
}
.chat-notification-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

.wrap-icon {
  list-style: none;
  color: #777;
  font-size: 20px;
  margin: 0 4px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f3d8f7;
  color: #111;
  transition: 0.2s ease;
}

.wrap-icon:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 947px) {
  .header .header-nav .brand {
    font-size: 35px;
    padding-left: 0px;
  }
  .menu .menu-item .menu-item-link {
    font-size: 14px !important;
    color: #fff;
  }
  .menu {
    position: fixed;
    z-index: 9999;
    width: 50%;
    max-width: 500px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 60px;
    left: -100%;
    text-align: center;
    opacity: 0.9;
    transition: 0.5s;
  }
  .header .header-nav .menu-item {
    display: block;
  }
  .header .header-nav .menu-item .menu-item-link {
    font-size: 20px !important;
  }
  .checkbtn {
    display: block;
  }
  #check:checked ~ .wrapper-memu .menu {
    left: 0;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: '\f00d';
  }
  .navbar .menu .active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    color: #fff;
  }
  .menu-mobile {
    display: block !important;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .form-search {
    display: none;
  }
}
