.action-like:hover {
  animation: like 5s infinite;
}
@keyframes like {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.8) rotate(10deg);
  }
  35% {
    transform: scale(1.5) rotate(-5deg);
  }
  60% {
    transform: scale(1.8) rotate(-30deg);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.comment-form {
  height: 50px;
}
.action-article-icon {
  font-size: 20px;
  margin: 10px;
  color: pink;
  cursor: pointer;
}
.send-comment {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  right: 0;
  bottom: 0;
  border: none;
  color: #1da1f2;
  background: transparent;
}
.send-comment:hover {
  background: rgba(103, 103, 245, 0.3) !important;
}
.send-comment:focus {
  background: transparent;
}
.link-avatar:hover {
  text-decoration: underline;
  color: #000;
}
.wrap-icon {
  list-style: none;
  color: black;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s ease;
}
