.action-like:hover {
  animation: like 5s infinite;
}
.wraper-icon{
  position: relative;

}
.wraper-icon:hover .icons-like{
  background-color: #fff;
  border-radius: 16px;
  bottom: 50px;
  z-index: 100;
  opacity: 1;
}
.icons-like{
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.2s;
  transition-delay: 0.5s;
  border-radius: 16px;
  z-index: -1;
  opacity: 0;
  padding: 0 12px;

  box-shadow: 0 12px 28px 0 rgba(0,0,0,0.15),0 2px 4px 0 rgba(0,0,0,0.2);
}
.icon-item{
  padding: 12px;
  width: 55px;
  height: 55px;
  cursor: pointer;

}

.icon-item:nth-child(1){
  animation: haha 2s infinite;
}

.icon-item:nth-child(2){
  animation: wow 3s infinite;
}

.icon-item:nth-child(3){
  animation: sad 3s infinite;
}

.icon-item-like{
  width: 25px;
  height: 25px;
  margin: 8px;
  display: block;
  cursor: pointer;
}


@keyframes like {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.4) rotate(10deg);
  }
  35% {
    transform: scale(1.2) rotate(-5deg);
  }
  60% {
    transform: scale(1.5) rotate(-30deg);
  }
  70% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes haha {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2) rotate(10deg);
  }
  40% {
    transform: scale(1.3) rotate(-10deg);
  }
  60% {
    transform: scale(1.2) rotate(30deg);
  }
  80% {
    transform: scale(1.1) rotate(-20deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wow {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.4) rotate(10deg);
  }
  35% {
    transform: scale(1.4) rotate(-10deg);
  }
  60% {
    transform: scale(1.4) rotate(-30deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sad {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.4);
  }
  45% {
    transform: scale(1.4) rotate(-10deg);
  }
  80% {
    transform: scale(1.4) rotate(10deg);
  }
  100% {
    transform: scale(1);
  }
}
.comment-form {
  height: 50px;
}
.action-article {
  display: flex;
  align-items: center;
}
.action-article-icon {
  font-size: 20px;
  margin: 10px;
  color: rgb(255, 169, 184);
  cursor: pointer;

}
.spin-comment{
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  right: 0;
  top: 0;

}
.send-comment {
  border: none;
  color: #1da1f2;
  background: transparent;
}
.send-comment:hover {
  background: rgba(103, 103, 245, 0.3) !important;
}
.send-comment:focus {
  background: transparent;
}
.link-avatar:hover {
  text-decoration: underline;
  color: #000;
}
.wrap-icon {
  list-style: none;
  color: black;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s ease;
}
.comment div{
  padding-bottom: 0;
}
.header-comment{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.more{
  color: #777;
  font-weight: bold;
  cursor: pointer;
}
.wrap-btn{
  display: flex;
  justify-content: end;
  margin-bottom: 4px;
}
