.action-article {
}
.action-article-icon {
  font-size: 20px;
  margin: 10px;
  color: pink;
  cursor: pointer;
}
.send-comment {
  position: absolute;
  border-radius: 20px;
  right: 0;
  bottom: 0;
  border: none;
  color: #1da1f2;
  background: transparent;
}
.send-comment:hover {
  background: rgba(103, 103, 245, 0.3) !important;
}
.link-avatar:hover {
  text-decoration: underline;
  color: #000;
}
