.container{
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 10;
  align-items: end;
  display: flex;
}
.friend-wrapper{
  max-height: 400px;
  overflow: auto;
}
.person-active{
  background-color: #FFC0CB55;
}
