.grid {
  width: 1000px;
  max-width: 100%;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

.name{
  font-size: 25px;
  font-weight: 900;
  color: #333
}

.image-wrapper{

  overflow: hidden;
}

.image{
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}
