.grid {
  width: 1000px;
  max-width: 100%;
  margin: 20px auto;
  position: relative;
  overflow: hidden;

}
.action-icon{
  font-size: 18px !important;
  transition: 0.5s;
}
.action-icon-comfirm{
  color: #1da1f2 !important;
}
.action-icon-trash{
  color: rgb(253, 62, 62) !important;
}
.action-icon-message{
  color: #1da1f2 !important;
}
.avatar{
  object-fit: cover;
  aspect-ratio: 16/12;
}
