.container{
  width: 320px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 10px;
}

.infor{
  display: flex;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 2px -2px rgb(180, 173, 173);
  padding: 8px;
  margin-bottom: 2px;
  background-color: pink;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-close{
  padding: 5px;
  cursor: pointer;
}

.name{
  font-weight: 600;
  margin-left: 8px;
}
.content{
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.message{
  display: flex;
  flex-direction: column-reverse;
  flex:1;
  overflow-y: auto
}
.input{
  flex:1;
  background-color: #f5f5f5;
}
.input-wrapper{
  display: flex !important;
  align-items: center;
  margin: 4px 0;
  margin-right: 8px;
}
.icon{
  color: #777;
  padding: 10px;
  cursor: pointer;
}
