.circle {
  background-color: rgba(255, 82, 82, 1);
  border-radius: 50%;
  animation: pulse-red 2s infinite;
  height: calc(30px + 3vw);
  width: calc(30px + 3vw);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}
.circle-item {
  background-color: rgba(255, 82, 82, 1);
  border-radius: 50%;
  height: calc(30px + 6vw);
  width: calc(30px + 6vw);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  transform: scale(1.1);
  box-shadow: 0 0 0 15px rgba(255, 82, 82, 0);
  cursor: pointer;
}
@keyframes pulse-red {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.2);
  }
  30% {
    transform: scale(0.8);
    box-shadow: 0 0 0 15px rgba(255, 82, 82, 0.4);
  }
  40% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(-40deg);
  }
  60% {
    transform: rotateZ(20deg);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.2);
  }
}
.container {
  position: fixed;
  bottom: 80px;
  right: 20px;
}
