.options-menu {
  width: 100%;
  border-right: 1px solid #e8e8e8;
}
.options-center {
  width: 75%;
  margin: 0 auto;
}
.logo {
  padding: 2% 0 8% 20% !important;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.5s;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-avatar {
  margin-right: 8px;
  width: 64px;
  height: 64px;
  max-width: 64px;
}
.logo .icon-logo {
  font-size: 33px;
  color: #00a7ff;
}
.option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.option div a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 30px;
  color: #000;
}
.option div {
  padding: 2% 0 8% 20%;
}
@media (max-width: 972px) {
  .option div {
    padding: 2% 0 8% 10%;
  }
}
@media (max-width: 892px) {
  .options-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .options-center {
    width: 100%;
    margin: 0;
  }
  .option {
    justify-content: center;
    background-color: #f1f1f1;
  }
  .option div:nth-child(even) {
    display: none;
  }
  .option div a span {
    display: none;
  }
  .option div a {
    font-size: calc(20px + 1vw);
  }
  .option div {
    padding: 0% 0 0% 0%;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .option div .icon {
    margin-right: 0;
  }
  .logo {
    display: none;
  }
  .link-profile .logo .name {
    display: none;
  }
}
.option div a i {
  padding: 0 20px 0 0;
  font-weight: 100;
}
.option div a:hover {
  color: #00a7ff;
  background: #e1f5ff;
}
.option button {
  padding: 15px 80px;
  border-radius: 30px;
  outline: none;
  background: #00a7ff;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.option button:hover {
  background: #0093ff;
  transition: 0.1s;
}
