.notification-container{
  position: absolute;
  top: 50px;
  right: 0;
  width: 400px;
  max-width: 70vw;
  height: 50vh;
  max-height: 60vh;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notification-item{
  overflow-x: hidden;
}

.image{
  width: 70px;
  height: 70px;
  border-radius: 8px;
}
.content{
  padding: 4px 8px;
  color: #333;
}

.time{
  color:rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
.title{
  font-size: 15px;
  word-break: break-word;
}
.conversation-item{
  width: 100%;
  display: flex;
  padding: 10px;
}
.conversation-item-content{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
}
.conversation-item-right{
  flex: 1;
  overflow: hidden;
  margin-left: 8px;
}
.conversation-item-name{
  font-weight: bold;
}
.conversation-item-time{
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.conversation-list{
  margin-top: 10px;
}
