.person {
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.link{
  display: flex;
  align-items: center;
}

.person-profile {
  cursor: pointer;
}
.name h3 {
  font-size: 14px;
  margin: 0;
  margin-left: 12px;
}
.name p {
  opacity: 0.6;
  padding: 5px 0 0 0;
}

.send-follow-request{
  justify-self: flex-end;
  align-self: flex-end;
}
.send-follow-request button {
  padding: 5px 10px;
  outline: none;
  border: 1px solid #00a7ff;
  color: #00a7ff;
  border-radius: 20px;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}
.send-follow-request button:hover {
  background: #d8eeff;
}
.dot{
  width: 8px;
  height: 8px;
  background-color: #00a7ff;
  border-radius: 50%;
  justify-self: flex-end;
}
