@import "./antd.css";
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app{
  background-color: #FFC0CB55;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-menu-item {
  margin: 0 10px !important;
}
.ant-menu-submenu {
  margin: 0 !important;
}
.ant-input-search-button,
.ant-input-group-addon {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.ant-input-affix-wrapper {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.mr-20 {
  margin-right: 20px;
}
.comment .ant-comment-content{
  background-color: #f5f5f5 !important;
  border-radius: 8px;
  padding: 8px;
}
.anticon{
  vertical-align:unset
}
img {
  display: unset;
}

.ant-tabs-tab-active{
  background-color: pink !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #fff !important;
  font-weight: bold;
}
.hover:hover{
  background-color: #00000011;
  border-radius: 10px;
}

.hover-icon{
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.hover-icon:hover{
  background-color: #00000011;

}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 138, 138);
}
